.container{
    display: flex;
}

.logo{
    position: relative;
    height: 80px;
    width: 80px;
    margin: 30px;
}

.left{
    width: 65%;
    height: 100vh;
    background-color: #061175;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right{
    width: 35%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.big_title{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}

.big_title_S{
    font-size: 55px;
    font-weight: bold;
    color: #061175;
}

.bigger_title{
    font-size: 65px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.access{
    color: #fff;
    margin-top: 100px;
    font-size: 25px;
    font-weight: bold;
}

.sep{
    margin-top: 40px;
}

.input{
    height: 40px;
    outline: none;
    border: none;
    border: 1px solid #C5C5C5;
    width: 60%;
    padding-left: 10px;
    font-size: 17px;
    margin-top: 10px;
}

.button{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    background-color: #061175;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: all .1s ease-in;
    cursor: pointer;
    outline: none;
    border: none;
}

.button:hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.link:hover{
    text-decoration: underline;
}

.redirection{
    margin-top: 5px;
    font-weight: bold;
}